.container {
    width: 450px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;
}

.container h1 {
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.container p {
    text-align: left;
    font-size: 15px;
    color: #fff;
}

.container .code-inputs {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.code-inputs input {
    width: 50px;
    height: 60px;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-size: 24px;
    color: #fff;
    padding: 0;
    text-align: center;
    transition: border-color 0.3s;
}

.code-inputs input:focus {
    border-color: rgba(255, 255, 255, 0.8);
}

.container button {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
